.page-heading{
  font-size: 1.5em;
}

.navbar{
  background-color: #ACC;
}

.row div{
}

.menu-box{
  background-color: #EEC;
  /* border: 1px solid #999; */
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  height: 400px;
}

.menu-box-title{
  font-weight: bold;

}


/* .navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover
{
  background-color: #FFF;

} */
#collapse-navbar  .active>a,
#collapse-navbar  a:focus,
#collapse-navbar  a:hover{
  background-color: #FFF;
}

@media (max-width:766px){
  .collapse{
    background-color: #CEE;
  }
}
